.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board {
  width: 770px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #656465;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 6px 6px 25px 0px rgb(44, 44, 44);
}
.statsWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Finger Paint";
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 45px;
  margin: 70px 0px 0px 0px;
}
.ux{
  font-size: 20px;
  margin: 0px;
}
h3{
  margin: 10px 20px;
}
.reset{
  height: 20px;
  cursor: pointer;
}
.lose{
  position: absolute;
  background-color: white;
  opacity: 0.4;
  border-radius: 5px;
  height: 696px;
  width: 770px;
  left: 0px;
  top: 174px;
  z-index: 3;
}
.loseTitle{
  position: absolute;
  font-family: "Finger Paint";
  font-size: 80px;
  color: red;
  opacity: 1;
  text-align: center;
  z-index: 3;
}
small{
  font-size: 20px;
}
.loseReset{
  position: absolute;
  height: 250px;
  z-index: 3;
  left: 270px;
  top: 350px;
}

.hide{
  display: none;
}

.win{
  position: absolute;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  height: 696px;
  width: 770px;
  left: 0px;
  top: 174px;
  z-index: 3;
}
.winTitle{
  position: absolute;
  font-family: "Finger Paint";
  width: 500px;
  font-size: 90px;
  color: rgb(0, 255, 0);
  opacity: 1;
  text-align: center;
  z-index: 3;
  left: 130px;
}
.winReset{
  position: absolute;
  height: 250px;
  z-index: 3;
  left: 270px;
  top: 350px;
}